* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $dark-grey;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-extra-bold;
}

a {
  color: $brand-color;
  transition: .2s ease-in-out all;
  font-weight: $font-regular;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $medium-grey;
  }
  &:focus {
    text-decoration: none;
  }
}
ul{
  list-style-type: none;
  padding-left: 0;
}
strong {
  font-weight: $font-bold;
}

label {
  font-weight: $font-regular;
}

.content-wrapper {
  min-height: calc(100vh - 360px);
}

.dn {
  display: none;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.cb {
  clear: both;
}
