$primary-font: 'Montserrat', sans-serif;
$display-font: 'Open Sans Condensed', sans-serif;
$font-light: 400;
$font-regular: 400;
$font-bold: 700;
$font-extra-bold: 900;

// Colores
$palette: (
    ligth-grey: #DCDDE1,
    ultra-ligth-grey: #F5F6FA,
    medium-grey: #697789,
    brand-grey: #2F3640,
    dark-grey: #121212,
    brand-red: #A01127,
    page-yellow: #f0d471,
    brand-color: #18FFFF
);
$ligth-grey: map-get($palette,ligth-grey);
$ultra-ligth-grey: map-get($palette,ultra-ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$brand-grey: map-get($palette,brand-grey);
$dark-grey: map-get($palette,dark-grey);
$brand-red: map-get($palette,brand-red);
$page-yellow: map-get($palette,page-yellow);
$brand-color: map-get($palette,brand-color);
$white:white;
$black: black;
//Gradientes
// $gradient-yellow-green: linear-gradient(to right, $page-yellow, $brand-color);
// $gradient-red-yellow: linear-gradient(to right, $brand-red, $page-yellow);