@charset 'UTF-8';
@import 'bourbon';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

@import 'components/loader';
@import 'components/hamburguer';
@import 'components/navbar';
@import 'components/loading-txt';
@import 'components/buttons';

@import 'layout/footer';

@import 'pages/page-home';


#menu {
    position: fixed;
    z-index: 12;
}

.bk-title {
    &--primary {
        color: $brand-color;
        @extend %title-sizes;

        span {
            color: $white;
        }
    }

    &--grey {
        @extend %title-sizes;
    }
}

.bk-grey {
    font-weight: $font-light;
    color: $dark-grey !important;
}

.text-light {
    font-weight: $font-light;
    font-family: $primary-font;
    font-size: 2rem;

    @include MQ(L) {
        font-size: 2.4rem;
    }

    @include MQ(XL) {
        font-size: 2.8rem;
    }
}

#hopVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    /* in case the video doesn't fit the whole page*/
    background-image: url('../img/bg-01.png');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    /*cover video background */
    z-index: -1;
}

.bk-vertical-logo {
    position: fixed;
    z-index: 1;

    @include MQ(1240px) {
        top: 45%;
    }
}

.grid-item {
    width: 50%;
    height: 33.333vh;
    background-size: cover !important;

    @include MQ(M) {
        width: 25%;
        height: 33.333vh;
        overflow: hidden;
        float: left;
    }
}

.grid-item--width2 {
    @include MQ(M) {
        width: 50%;
        height: 66.666vh;
    }
}

.grid-item--width3 {
    @include MQ(M) {
        width: 50%;
    }
}

.grid-item--height2 {
    @include MQ(M) {
        height: 66.666vh;
    }
}

.grid-item img {
    display: block;
    width: 100%;
}

$class-slug: bk-sec-05--img__ !default;

@for $i from 1 through 6 {
    .#{$class-slug}0#{$i} {
        background: url('../img/bk-sec-05-img#{$i}.png');
        background-size: cover;
    }
}

.bk-sec-04-00 {
    & .bk-title--primary {
        @include MQ(M) {
            text-align: left;
        }
    }

    &__span {
        font-size: 1.5em;
        font-weight: $font-bold;
    }
}

.bg-04-00 {
    background: $dark-grey;
}

.bg-04-01 {
    background: url(../img/bg-06.png) no-repeat;
    background-size: cover;
}

.bk-sec-05--01 {
    &__txt {
        position: absolute;
        bottom: 10px;
        left: 20px;

        p {
            margin-bottom: 0;
        }
    }

    &__wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        transition: .5s all ease-in-out;

        &:hover {
            background: none;
        }
    }
}

.mapa {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.bk-be-ahopper {
    display: block;

    @include MQ(992px) {
        display: inline;
    }
}


.bk-carousel-caption:not(#caption-0) {
    display: none;
}

.slider_captions {
    height: 150px;
    overflow: hidden;
}

.modal {
    &-header {
        padding-top: 6px;
        padding-bottom: 2px;
    }

    &-title {
        font-size: 12px;
        color: $white;
    }

    &-footer {
        display: block;

        p {
            font-size: 11px;
        }
    }
}

#video {
    position: absolute;
    background: transparent;
    top: -50px;
}

.forcefullwidth_wrapper_tp_banner{
    position: absolute !important;
    top: 0;
    //z-index: -1;
}

.bk-mute--button{
    display: none;
    @include MQ(M){
        display: block;
    }
    z-index: 1000000 !important;
}