.bk--btn {
    display: inline-block;
    border: none;
    padding: 10px 20px;
    transition: .2s ease-in-out all;
    cursor: pointer;

    &__primary{
        background: $brand-color;
        border-radius: 5px;
        &:hover {
            color: $dark-grey !important;
            background: $ligth-grey;
        }
    }
}