.cd-headline.loading-bar {

	.bk-text-wrapper {
		//display: inline-block;
		text-align: center;
		@include MQ(M){
			text-align: left;
		}
	}

	.cd-words-wrapper {
		overflow: hidden;
        vertical-align: middle;
        padding: 20px 0;
        max-width: 550px;

		&::after {
			/* loading bar */
			content: '';
			position: absolute;
			left: 14px;
			bottom: 0;
			height: 3px;
			width: 0;
			background: $brand-color;
            z-index: 2;
            opacity: .3;
			@include transition(width .2s -0.1s);
		}

		&.is-loading::after {
            opacity: .3;
            //width: 100%;
            //max-width: 550px;
			@include transition(width 14s);
		}
	}

	.bk-hop-txt {
		@include transition(opacity 2s);
		&.is-hidden{
			display: none;
			opacity: 0;
		}

		&.is-visible {
			display: inline;
			opacity: 1;
		}
	}

	.bk-hop-number{
		font-weight: $font-bold;
		font-size: 3rem;
		margin: 0 25px 20px 0;
		&::before{
			content: "";
			//display: inline-block;
			position: absolute;
			width: 60px;
			height: 60px;
			border: 4px solid $white;
			border-radius: 50%;
			margin-left: -18px;
		}
	}
}
.cd-headline{
	min-height: 150px;
}