.hamburger {
    position: fixed;
    right: 0;
    z-index: 2;
    @include MQ(M){
        z-index: 2;
        right: 40px;
        top: 40px
    }
    @include MQ(L){
        right: 140px;
    }
}

$animation-duration: 0.7s;

.bk-primary-nav {
    @media screen and (max-width: 767px){
        height: 100%;
        background: $brand-grey;
        position: fixed;
        max-width: 100%;
    }
    width: 100%;
    position: relative;
    z-index: 1;
    @include transform(translateX(180%));
    @include transition(transform $animation-duration - 0.4s);
    @include transition-timing-function(cubic-bezier(.82, .01, .77, .78));
    @include MQ(M){
        top: 55px;
    }
    
    &__menu{
        @media screen and (max-width: 767px){
            @include centerer;
        }
        @include MQ(M){
            display: flex;
        }
        &-item{
            @media screen and (max-width: 767px){
                font-size: 1.5rem;
                text-align: center;
                padding: 10px 0;
            }
        }
    }
    &.loaded{
        @include transform(translateX(0));
    }
}

.bk-link-white{
    color: white;
}
button:focus {
    outline: none;
}

#fp-nav ul li a span {
    background: $brand-color;
}

/* #fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 15px;
    height: 15px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    width: 8px;
    height: 8px;
} */