@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900");
.bk-title--primary, .bk-title--grey {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .bk-title--primary, .bk-title--grey {
      text-align: left;
      font-size: 3rem; } }
  @media screen and (min-width: 1024px) {
    .bk-title--primary, .bk-title--grey {
      font-size: 3.3rem; } }
  @media screen and (min-width: 1400px) {
    .bk-title--primary, .bk-title--grey {
      font-size: 3.7rem; } }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  line-height: 1.2; }

h1,
h2,
h3,
h4 {
  font-weight: 900; }

a {
  color: #18FFFF;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  font-weight: 400;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #697789; }
  a:focus {
    text-decoration: none; }

ul {
  list-style-type: none;
  padding-left: 0; }

strong {
  font-weight: 700; }

label {
  font-weight: 400; }

.content-wrapper {
  min-height: calc(100vh - 360px); }

.dn {
  display: none; }

.db {
  display: block; }

.dib {
  display: inline-block; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.cb {
  clear: both; }

.cd-loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: black; }
  .cd-loader__grid {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .cd-loader__item {
    width: 100%;
    height: 100%;
    background: url("../img/bk-hero-logo.png") no-repeat;
    background-size: contain; }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #18FFFF;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    -webkit-transition: background-color 0.125s 0.175s ease-in;
    -o-transition: background-color 0.125s 0.175s ease-in;
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      -webkit-transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
    .hamburger--emphatic .hamburger-inner::after {
      top: 10px;
      right: 0;
      -webkit-transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      transition: top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335);
      -o-transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in, -webkit-transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
  .hamburger--emphatic.is-active .hamburger-inner {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -80px;
      top: -80px;
      -webkit-transform: translate3d(80px, 80px, 0) rotate(45deg);
      transform: translate3d(80px, 80px, 0) rotate(45deg);
      -webkit-transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -80px;
      top: -80px;
      -webkit-transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      transform: translate3d(-80px, 80px, 0) rotate(-45deg);
      -webkit-transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

.hamburger {
  position: fixed;
  right: 0;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .hamburger {
      z-index: 2;
      right: 40px;
      top: 40px; } }
  @media screen and (min-width: 1024px) {
    .hamburger {
      right: 140px; } }

.bk-primary-nav {
  width: 100%;
  position: relative;
  z-index: 1;
  -webkit-transform: translateX(180%);
  -moz-transform: translateX(180%);
  -ms-transform: translateX(180%);
  -o-transform: translateX(180%);
  transform: translateX(180%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -o-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78); }
  @media screen and (max-width: 767px) {
    .bk-primary-nav {
      height: 100%;
      background: #2F3640;
      position: fixed;
      max-width: 100%; } }
  @media screen and (min-width: 768px) {
    .bk-primary-nav {
      top: 55px; } }
  @media screen and (max-width: 767px) {
    .bk-primary-nav__menu {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  @media screen and (min-width: 768px) {
    .bk-primary-nav__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (max-width: 767px) {
    .bk-primary-nav__menu-item {
      font-size: 1.5rem;
      text-align: center;
      padding: 10px 0; } }
  .bk-primary-nav.loaded {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }

.bk-link-white {
  color: white; }

button:focus {
  outline: none; }

#fp-nav ul li a span {
  background: #18FFFF; }

/* #fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 15px;
    height: 15px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
    width: 8px;
    height: 8px;
} */
.cd-headline.loading-bar .bk-text-wrapper {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .cd-headline.loading-bar .bk-text-wrapper {
      text-align: left; } }

.cd-headline.loading-bar .cd-words-wrapper {
  overflow: hidden;
  vertical-align: middle;
  padding: 20px 0;
  max-width: 550px; }
  .cd-headline.loading-bar .cd-words-wrapper::after {
    /* loading bar */
    content: '';
    position: absolute;
    left: 14px;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #18FFFF;
    z-index: 2;
    opacity: .3;
    -webkit-transition: width 0.2s -0.1s;
    -moz-transition: width 0.2s -0.1s;
    -o-transition: width 0.2s -0.1s;
    transition: width 0.2s -0.1s; }
  .cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
    opacity: .3;
    -webkit-transition: width 14s;
    -moz-transition: width 14s;
    -o-transition: width 14s;
    transition: width 14s; }

.cd-headline.loading-bar .bk-hop-txt {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; }
  .cd-headline.loading-bar .bk-hop-txt.is-hidden {
    display: none;
    opacity: 0; }
  .cd-headline.loading-bar .bk-hop-txt.is-visible {
    display: inline;
    opacity: 1; }

.cd-headline.loading-bar .bk-hop-number {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 25px 20px 0; }
  .cd-headline.loading-bar .bk-hop-number::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border: 4px solid white;
    border-radius: 50%;
    margin-left: -18px; }

.cd-headline {
  min-height: 150px; }

.bk--btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  -webkit-transition: .2s ease-in-out all;
  -o-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
  cursor: pointer; }
  .bk--btn__primary {
    background: #18FFFF;
    border-radius: 5px; }
    .bk--btn__primary:hover {
      color: #121212 !important;
      background: #DCDDE1; }

.bk-footer {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .bk-footer {
      position: absolute;
      bottom: 20px;
      width: 100%;
      left: 0; } }

.bg-01 {
  background: #121212; }
  @media screen and (min-width: 768px) {
    .bg-01 {
      background: none; } }

.bg-02 {
  background: url("../img/bg-02.jpg") no-repeat;
  background-size: cover; }

.bg-03 {
  background: #121212; }

.bg-04 {
  background: black; }

.bg-06 {
  background: url("../img/bg-06.png") no-repeat;
  background-size: cover; }

.bg-07 {
  background: url("../img/bg-07.png") no-repeat;
  background-size: cover; }

.bk-title--primary,
.bk-title--secundary {
  text-align: center; }

@media screen and (min-width: 768px) {
  .bk-title--secundary {
    text-align: left; } }

.bk-sec-01--content {
  position: relative;
  z-index: 5; }

.bk-sec-01__txt {
  max-width: 450px; }

.bk-sec-01__logo {
  width: 100%;
  max-width: 260px; }

@media screen and (min-width: 768px) {
  .bk-sec-01 .bk-title--primary {
    text-align: left; } }

.bk-sec-01 .bk-be-ahopper {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .bk-sec-01 .bk-be-ahopper {
      text-align: left; } }

.bk-sec-02__title {
  font-weight: 400;
  /*         @include MQ(M) {
            text-align: right;
        } */ }

.bk-sec-02 .bk-text-wrapper {
  /*         @include MQ(M) {
            text-align: right !important;
        } */ }

.bk-sec-02 .bk-title--primary {
  padding-top: 30px; }
  @media screen and (min-width: 768px) {
    .bk-sec-02 .bk-title--primary {
      text-align: right; } }
  @media screen and (min-width: 768px) {
    .bk-sec-02 .bk-title--primary {
      padding-top: 0;
      text-align: left;
      padding-left: 40px; } }

.bk-sec-02__card {
  min-height: 260px; }

@media screen and (min-width: 768px) {
  .bk-sec-03 .bk-title--primary {
    text-align: left; } }

.bk-sec-04__logo img {
  width: 100%;
  max-width: 100px; }
  @media screen and (min-width: 480px) {
    .bk-sec-04__logo img {
      max-width: 200px; } }

.bk-sec-04__logo, .bk-sec-04__txt,
.bk-sec-04 .bk-title--primary {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .bk-sec-04__logo, .bk-sec-04__txt,
    .bk-sec-04 .bk-title--primary {
      text-align: right; } }

.bk-sec-05 {
  max-height: 100vh !important;
  overflow: hidden !important; }

.bk-sec-06__img {
  text-align: center;
  cursor: pointer; }

.bk-sec-06__txt {
  min-height: 80px;
  padding: 20px; }
  .bk-sec-06__txt span {
    font-weight: 900; }
    @media screen and (min-width: 768px) {
      .bk-sec-06__txt span {
        display: none; } }

.bk-sec-06__card {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .bk-sec-06__card {
      text-align: left; } }

.bk-sec-07 {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .bk-sec-07 {
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .bk-sec-07 .bk-title--primary {
      text-align: left; } }
  .bk-sec-07__logo {
    width: 100%;
    max-width: 100px; }
    @media screen and (min-width: 480px) {
      .bk-sec-07__logo {
        max-width: 150px; } }

.bk-map--tooltip {
  display: none;
  font-weight: 900;
  color: #18FFFF;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .bk-map--tooltip {
      position: absolute;
      text-align: left;
      max-width: 100px; } }
  @media screen and (min-width: 480px) {
    .bk-map--tooltip__TX {
      top: 20%;
      left: 12%; } }
  @media screen and (min-width: 480px) {
    .bk-map--tooltip__BT {
      top: 20%;
      right: 15%; } }
  @media screen and (min-width: 480px) {
    .bk-map--tooltip__SD {
      top: 40%;
      right: 20%; } }
  @media screen and (min-width: 480px) {
    .bk-map--tooltip__FR {
      top: 60%;
      left: 16%; } }
  @media screen and (min-width: 480px) {
    .bk-map--tooltip__MT {
      bottom: 30%;
      right: 10%; } }

.bk-phone--carousel {
  background: url("../img/circle2.png") no-repeat center center;
  background-size: 90%; }

.carousel-item img + img {
  position: absolute;
  left: 0;
  top: 0; }

.carousel-item img {
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

.carousel-item.active img {
  opacity: 1; }

.carousel-item img:nth-child(2) {
  -webkit-transform: translateX(180%);
  -moz-transform: translateX(180%);
  -ms-transform: translateX(180%);
  -o-transform: translateX(180%);
  transform: translateX(180%);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.8s;
  -moz-transition: -moz-transform 0.3s, opacity 0.8s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.3s;
  transition: opacity 0.8s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.8s;
  transition: transform 0.3s, opacity 0.8s;
  transition: transform 0.3s, opacity 0.8s, -webkit-transform 0.3s;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s; }

.carousel-item.active img:nth-child(2) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

/* Change the direction of the transition. */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }

.bk-footer--menu {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (min-width: 768px) {
    .bk-footer--menu {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

#menu {
  position: fixed;
  z-index: 12; }

.bk-title--primary {
  color: #18FFFF; }
  .bk-title--primary span {
    color: white; }

.bk-grey {
  font-weight: 400;
  color: #121212 !important; }

.text-light {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem; }
  @media screen and (min-width: 1024px) {
    .text-light {
      font-size: 2.4rem; } }
  @media screen and (min-width: 1400px) {
    .text-light {
      font-size: 2.8rem; } }

#hopVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-image: url("../img/bg-01.png");
  background-position: center center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  /*cover video background */
  z-index: -1; }

.bk-vertical-logo {
  position: fixed;
  z-index: 1; }
  @media screen and (min-width: 1240px) {
    .bk-vertical-logo {
      top: 45%; } }

.grid-item {
  width: 50%;
  height: 33.333vh;
  background-size: cover !important; }
  @media screen and (min-width: 768px) {
    .grid-item {
      width: 25%;
      height: 33.333vh;
      overflow: hidden;
      float: left; } }

@media screen and (min-width: 768px) {
  .grid-item--width2 {
    width: 50%;
    height: 66.666vh; } }

@media screen and (min-width: 768px) {
  .grid-item--width3 {
    width: 50%; } }

@media screen and (min-width: 768px) {
  .grid-item--height2 {
    height: 66.666vh; } }

.grid-item img {
  display: block;
  width: 100%; }

.bk-sec-05--img__01 {
  background: url("../img/bk-sec-05-img1.png");
  background-size: cover; }

.bk-sec-05--img__02 {
  background: url("../img/bk-sec-05-img2.png");
  background-size: cover; }

.bk-sec-05--img__03 {
  background: url("../img/bk-sec-05-img3.png");
  background-size: cover; }

.bk-sec-05--img__04 {
  background: url("../img/bk-sec-05-img4.png");
  background-size: cover; }

.bk-sec-05--img__05 {
  background: url("../img/bk-sec-05-img5.png");
  background-size: cover; }

.bk-sec-05--img__06 {
  background: url("../img/bk-sec-05-img6.png");
  background-size: cover; }

@media screen and (min-width: 768px) {
  .bk-sec-04-00 .bk-title--primary {
    text-align: left; } }

.bk-sec-04-00__span {
  font-size: 1.5em;
  font-weight: 700; }

.bg-04-00 {
  background: #121212; }

.bg-04-01 {
  background: url(../img/bg-06.png) no-repeat;
  background-size: cover; }

.bk-sec-05--01__txt {
  position: absolute;
  bottom: 10px;
  left: 20px; }
  .bk-sec-05--01__txt p {
    margin-bottom: 0; }

.bk-sec-05--01__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: .5s all ease-in-out;
  -o-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out; }
  .bk-sec-05--01__wrapper:hover {
    background: none; }

.mapa {
  width: 100%;
  max-width: 100%;
  height: auto; }

.bk-be-ahopper {
  display: block; }
  @media screen and (min-width: 992px) {
    .bk-be-ahopper {
      display: inline; } }

.bk-carousel-caption:not(#caption-0) {
  display: none; }

.slider_captions {
  height: 150px;
  overflow: hidden; }

.modal-header {
  padding-top: 6px;
  padding-bottom: 2px; }

.modal-title {
  font-size: 12px;
  color: white; }

.modal-footer {
  display: block; }
  .modal-footer p {
    font-size: 11px; }

#video {
  position: absolute;
  background: transparent;
  top: -50px; }

.forcefullwidth_wrapper_tp_banner {
  position: absolute !important;
  top: 0; }

.bk-mute--button {
  display: none;
  z-index: 1000000 !important; }
  @media screen and (min-width: 768px) {
    .bk-mute--button {
      display: block; } }

/*# sourceMappingURL=main.css.map */