.bg-01{
    background: $dark-grey;
    @include MQ(M){
        background: none;
    }
}
.bg-02 {
    background: url('../img/bg-02.jpg') no-repeat;
    background-size: cover;
}

.bg-03 {
    background: $dark-grey;
}

.bg-04 {
    background: $black;
}

.bg-06 {
    background: url('../img/bg-06.png') no-repeat;
    background-size: cover;
}

.bg-07 {
    background: url('../img/bg-07.png') no-repeat;
    background-size: cover;
}

.bk-title--primary,
.bk-title--secundary {
    text-align: center;
}
.bk-title--secundary {
    @include MQ(M){

        text-align: left;
    }
}

.bk-sec-01 {
    &--content{
        position: relative;
        z-index: 5;
    }
    &__txt {
        max-width: 450px;
    }
    &__logo {
        width: 100%;
        max-width: 260px;
    }
    & .bk-title--primary {
        @include MQ(M) {
            text-align: left;
        }
    }
    & .bk-be-ahopper {
        text-align: center;
        @include MQ(M){
            text-align: left;
        }
    }
}

.bk-sec-02 {
    &__title {
        font-weight: $font-light;
/*         @include MQ(M) {
            text-align: right;
        } */
    }
    & .bk-text-wrapper {
/*         @include MQ(M) {
            text-align: right !important;
        } */
    }
    & .bk-title--primary {
        padding-top: 30px;
        @include MQ(M) {
            text-align: right;
        }
        @include MQ(M) {
            padding-top: 0;
            text-align: left;
            padding-left: 40px;
        }
    }
    &__card {
        min-height: 260px;
    }
}

.bk-sec-03 {
    & .bk-title--primary {
        @include MQ(M) {
            text-align: left;
        }
    }
}

.bk-sec-04 {
    &__logo {
        img {
            width: 100%;
            max-width: 100px;
            @include MQ(S) {
                max-width: 200px;
            }
        }
    }
    &__logo,
    &__txt,
    & .bk-title--primary {
        text-align: center;
        @include MQ(M) {
            text-align: right;
        }
    }
}

.bk-sec-05 {
    max-height: 100vh !important;
    overflow: hidden !important;
}

.bk-sec-06 {
    &__img {
        text-align: center;
        cursor: pointer;
    }
    &__txt {
        min-height: 80px;
        padding: 20px;
        span {
            font-weight: $font-extra-bold;
            @include MQ(M) {
                display: none;
            }
        }
    }
    &__line{
        @include MQ(M){
            //background: url('../img/line.png') no-repeat;
            //background-size: cover;
        }
    }
    &__card {
        text-align: center;
        @include MQ(M) {
            text-align: left;
        }
    }
}

.bk-sec-07 {
    text-align: center;
    @include MQ(M) {
        text-align: left;
    }
    & .bk-title--primary {
        @include MQ(M) {
            text-align: left;
        }
    }
    &__logo {
        width: 100%;
        max-width: 100px;
        @include MQ(S) {
            max-width: 150px;
        }
    }
}

.bk-map--tooltip {
    display: none;
    font-weight: $font-extra-bold;
    color: $brand-color;
    text-align: center;
    @include MQ(S) {
        position: absolute;
        text-align: left;
        max-width: 100px;
    }
    &__TX {
        @include MQ(S) {
            top: 20%;
            left: 12%;
        }
    }
    &__BT {
        @include MQ(S) {
            top: 20%;
            right: 15%;
        }
    }
    &__SD {
        @include MQ(S) {
            top: 40%;
            right: 20%;
        }
    }
    &__FR {
        @include MQ(S) {
            top: 60%;
            left: 16%;
        }
    }
    &__MT {
        @include MQ(S) {
            bottom: 30%;
            right: 10%;
        }
    }
}

.bk-phone--carousel {
    background: url('../img/circle2.png') no-repeat center center;
    background-size: 90%;
}

.carousel-item img+img {
    position: absolute;
    left: 0;
    top: 0;
}

.carousel-item {
    img {
        opacity: 0;
        @include transition(opacity .2s);
        transition-delay: .5s;
    }
    &.active img {
        opacity: 1;
    }
    img:nth-child(2) {
        @include transform(translateX(180%));
        @include transition(transform 0.3s,
        opacity .8s);
        transition-delay: .3s;
    }
    &.active img:nth-child(2) {
        @include transform(translateX(0));
    }
}

/* Change the direction of the transition. */

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        left: 0;
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        left: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.bk-footer--menu {
    justify-content: center;
    @include MQ(M) {
        justify-content: flex-end;
    }
}